{% extends 'layout.html' %}
{% load static %}
{% block content %}
<div class="p02">
    <h2>동림 자유 조직 안내</h2>
    <h3>학사운영위원회</h3>
    <p>교사회, 학부모회와 각 학년의 운영 위원으로 구성된 조직으로서, 학교의 일반적인 현안과 예산 집행 등 학교업무에 관한 사항을 심의 결정합니다. 매달 1회 정기회의를 통해 운영 됩니다.</p>
    <h3>중장기 발전위원회</h3>
    <p>동림자유발도르프학교의 중장기 발전방향과 관련하여 학교의 발전모델을 기획하고 정부지원제도를 재정적인 토대로 활용하여 발도르프 교육기관으로서 동림자유발도르프학교가 안정적으로 정착하기 위한 구상을 제안하는 역할을 수행 합니다.</p>
    <h3>후원소위</h3>
    <p>바른먹거리 발굴 및 선정하여 구성원에게 합리적인 가격으로 나눔을 실천하며 학교 터전을 자연과 더불어 아름답게 가꾸려 함의 의미를 두고 발생한 수익으로 학교 후원에 사용 합니다.또한 GMO 반대운동에 참여합니다.</p>
    <h3>교육소위</h3>
    <p>교육소위는 대내외 교육 세미나 및 신편입 가정을 위한 학부모 강좌 지원을 목표로 활동하고 있습니다. 또한 학부모들의 참여로 이루어지는 수공예, 발도르프 관련 공부모임등 다양한 소모임을 계획하여 지원 합니다.</p>
    <h3>홍보소위</h3>
    <p>동림의 학교 생활, 교육 이념, 한국의 발도르프 교육을 많은 분들에게 알리기 위한 대내외 홍보를 담당하는 소위입니다. 학교행사의 촬영 및 편집, 홍보 컨텐츠 제작, 홈페이지 관리, 홍보인쇄물 작업, SNS 운영 등을 담당하고 있습니다.</p>
    <h3>재정소위</h3>
    <p>학교 재정과 관련된 일에 관여 합니다. 예산, 결산 업무를 돕고 규정에 맞게 집행되는지 확인 하고 재정흐름이 투명하고 정확하게 기록될 수 있도록 노력합니다. 학교 재정관련 의사결정에 참여 합니다.</p>
    <h3>입학소위</h3>
    <p>동림자유발도르프학교에 오신 신입생과 편입생의 입학관련 업무를 지원합니다. 학교 안내의날과 입학설명회를 통해 신입, 편입생을 모집하고 입학과정을 통해 동림자유발도르프학교 가족으로 맞이합니다.</p>
</div>
{% endblock %}

{% block style %}
<style type="text/css">
.p02 h2 { text-align:center; font-size:26px; font-weight:bold; }
.p02 h3 { font-size:18px; font-weight:bold; }

</style>
{% endblock %}