{% extends 'layout.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-3">발도르프교육이란?</div>
    <div class="col">
        <p>발도르프 교육은 사람을 몸과 영혼과 정신을 지닌 삼중적 존재로 바라보는 새로운 교육학의 토대 위에서 출발했다.</p>
        <p>그러므로 이 세 가지 영역에서 아이를 건강하게 발달시키려는 목적을 가지고 있다.<br>
            사람은 각 시기마다 특별한 발달의 법칙을 따르고 있으며 이는 모든 사람에게 보편적으로 적용되어진다.</p>
        <p>발도르프 학교는 모든 아이에게 열려 있으며 각 시기에 맞는 특별한 교육내용과 예술적 방법론으로써 교육이 이루어진다.</p>
        <p>이러한 교육을 통해 아이들의 사고와 감정 그리고 의지가 균형있게 발달한다.<br>
            또한 되어져가는 인간 존재인 아이들이 자신 안에서 고유한 자신만의 과제를 찾아내도록 도와주고 그것을 학령기 이후의 삶 속에서 펼쳐내고 수행할 수 있는 능력을 키워준다.</p>
        <p>그렇다면 아이들은 세상과 참된 관계를 맺을 수 있고 함께 살아가는 사람들에게 사랑과 책임을 느끼고 진정으로 자유로운 존재가 될 수 있다.</p>
        <p>발도르프 교육은 아이들을 사랑과 자유로 향하게 하는 길위에 서서 자신의 발로 걸어갈 수 있도록 도와주는 교육인 것이다.</p>
    </div>
</div>
{% endblock %}