{% extends 'layout.html' %}

{% block content %}
<div class="wpb_wrapper">
    <div style="display: block; margin-bottom: 50px;">
        <table class="teacher" style="width: 200px;">
            <tbody>
                <tr>
                    <th>교사대표</th>
                </tr>
                <tr>
                    <td>김현주</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>&nbsp;</p>
    <figure class="wp-block-table">
        <table class="teacher">
            <tbody>
                <tr>
                    <th>부 서</th>
                    <th>학 년</th>
                    <th>성 명</th>
                </tr>
                <tr>
                    <td rowspan="14">전임교사</td>
                    <td>1학년</td>
                    <td>장혜미</td>
                </tr>
                <tr>
                    <td>2학년</td>
                    <td>권미경</td>
                </tr>
                <tr>
                    <td>3학년</td>
                    <td>조미연</td>
                </tr>
                <tr>
                    <td>4학년</td>
                    <td>이민해</td>
                </tr>
                <tr>
                    <td>5학년</td>
                    <td>권영진</td>
                </tr>
                <tr>
                    <td>6학년</td>
                    <td>백미경</td>
                </tr>
                <tr>
                    <td>7학년</td>
                    <td>이근애</td>
                </tr>
                <tr>
                    <td>8학년</td>
                    <td>김현주</td>
                </tr>
                <tr>
                    <td>9학년</td>
                    <td>이양호, 이재은</td>
                </tr>
                <tr>
                    <td>11학년</td>
                    <td>김영순</td>
                </tr>
            </tbody>
        </table>
    </figure>
    <p>&nbsp;</p>
    <figure class="wp-block-table">
        <table class="teacher">
            <tbody>
                <tr>
                    <th>부 서</th>
                    <th>과 목</th>
                    <th>성 명</th>
                </tr>
                <tr>
                    <td rowspan="18">전문과목교사</td>
                    <td>영어</td>
                    <td>유은주, 한분영 , 박설화</td>
                </tr>
                <tr>
                    <td>일본어</td>
                    <td>이선아, 김경애,한정윤</td>
                </tr>
                <tr>
                    <td>목공</td>
                    <td>민애리</td>
                </tr>
                <tr>
                    <td>미술</td>
                    <td>민애리, 허내훈</td>
                </tr>
                <tr>
                    <td>수공예</td>
                    <td>조혜림</td>
                </tr>
                <tr>
                    <td>음악</td>
                    <td>차예리, 김정욱</td>
                </tr>
                <tr>
                    <td>오이리트미</td>
                    <td>문지윤, 김현화</td>
                </tr>
                <tr>
                    <td>오이리트미 반주</td>
                    <td>박현아, 이혜진</td>
                </tr>
                <tr>
                    <td>농사</td>
                    <td>한정윤</td>
                </tr>
                <tr>
                    <td>국어</td>
                    <td>채기학</td>
                </tr>
                <tr>
                    <td>고전</td>
                    <td>이양호</td>
                </tr>
                <tr>
                    <td>수학</td>
                    <td>김영순</td>
                </tr>
                <tr>
                    <td>풍물</td>
                    <td>조원자</td>
                </tr>
                <tr>
                    <td>체육</td>
                    <td>조혜림</td>
                </tr>
                <tr>
                    <td>동공예</td>
                    <td>류경아</td>
                </tr>
                <tr>
                    <td>죽공예</td>
                    <td>민애리</td>
                </tr>
                <tr>
                    <td>체육</td>
                    <td>이재은</td>
                </tr>
                <tr>
                    <td>요리</td>
                    <td>한정윤</td>
                </tr>
                <tr>
                    <td colspan="2">방과후</td>
                    <td>김희준</td>
                </tr>
                <tr>
                    <td colspan="2">연구</td>
                    <td>전현선</td>
                </tr>
                <tr>
                    <td colspan="2">행정실</td>
                    <td>박미선</td>
                </tr>
            </tbody>
        </table>
    </figure>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

</div>
{% endblock %}


{% block style %}
<style type="text/css">
table.teacher { width: 100%; border: 1px solid #999; }
table.teacher th { background: #eee; border: 1px solid #aaa; text-align:center; }
table.teacher td { border: 1px solid #aaa; text-align:center; }
</style>
{% endblock %}