{% extends 'layout.html' %}
{% load comm_filter %}
{% load static %}

{% block content %}
<div class="main">
    <div id="drf_carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for i in 1|def_range:4 %}
            <div class="carousel-item{% if i == 1 %} active{% endif %}">
                <img src="{% static 'img/main/slide0' %}{{i}}.png" />
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#drf_carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#drf_carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <div class="wrap container">
        <!-- 빵굿 빵긋 -->
        {# % include "bbanggood.html" % #}

        <div class="row">
            <!-- 공지사항 5개 가져오기 -->
            <div class="col">{% bo_mini 'notice' %}</div>
            
            <!-- 블로그 3개 -->
            <div class="col blog">
                <h3>블로그</h3>
                <div class="row">
                    <a href="https://m.blog.naver.com/dongrimfreeschool/223841863697" class="col-4" target="_blank">
                        <img src="{% static 'img/main/blog01.jpg' %}" />
                        <p>새로운 눈으로 보는 조선의 궁권과 종묘</p>
                    </a>
                    <a href="https://blog.naver.com/dongrimfreeschool/223505337242" class="col-4" target="_blank">
                        <img src="{% static 'img/main/blog02.png' %}" />
                        <p>모험과 배움으로 가득한 고대 올림피아드</p>
                    </a>
                    <a href="https://blog.naver.com/dongrimfreeschool/223449798628" class="col-4" target="_blank">
                        <img src="{% static 'img/main/blog03.jpg' %}" />
                        <p>7학년- 섬진강 도보 여행</p>
                    </a>
                </div>
            </div>
        </div>

  
        <div class="row shortcut">
            <a href="{% url 'page:p31' %}" class="col-4">
                <img src="{% static 'img/main/baro01.jpg' %}" />
            </a>
            <a href="https://www.youtube.com/@dongrimfreeschool" class="col-4" target="_blank">
                <img src="{% static 'img/main/baro02.png' %}" />
            </a>
            <a href="https://www.waldorfedu.kr" class="col-4" target="_blank">
                <img src="{% static 'img/main/baro03.png' %}" />
            </a>
        </div>
        
        <div class="row youtube">
            <a href="https://youtu.be/j-0OB_uQZnc" class="col-4">
                <img src="{% static 'img/main/yt01.jpg' %}" />
            </a>
            <a href="https://youtu.be/jkxIMRS6TVE" class="col-4">
                <img src="{% static 'img/main/yt02.png' %}" />
            </a>
            <a href="https://youtu.be/CqpqMPMByxw" class="col-4">
                <img src="{% static 'img/main/yt03.jpg' %}" />
            </a>
        </div>



    </div>


</div>
{% endblock %}

{% block style %}
<style type="text/css">
.main #drf_carousel { height:600px; }
.main #drf_carousel .carousel-inner,
.main #drf_carousel .carousel-inner .carousel-item { height:100%; }
.main #drf_carousel .carousel-inner .carousel-item img { object-fit:cover; width:100%; height:100%; }
.main .container>.row { margin-top:20px; }
.main .container .row .blog  h3 { font-size:16px; text-align:center; font-weight:bold; padding:10px 0; line-height:1; margin:0; }
.main .container .row .blog .row a img { width:100%; margin-bottom:10px; }
.main .container .row .blog .row a p { font-size:12px; text-align:center; }
.main .container .shortcut a { text-align:center; }
.main .container .youtube a img { width:100%; object-fit:cover; height:250px; }

</style>
{% endblock %}

{% block script %}
<script type="text/javascript">
let slide_cnt = 1;
if (is_mobile)
    slide_cnt = 1;

// Auto-generate carousel indicator html
var bootCarousel = $(".carousel");
bootCarousel.append("<ol class='carousel-indicators'></ol>");
var indicators = $(".carousel-indicators");
bootCarousel.find(".carousel-inner").children(".carousel-item").each(function(index) {
    (index === 0) ?
    indicators.append("<li data-bs-target='#drf_carousel' data-bs-slide-to='" + index + "' class='active'></li>") :
    indicators.append("<li data-bs-target='#drf_carousel' data-bs-slide-to='" + index + "'></li>");
});
</script>
{% endblock %}

