{% load comm_filter %}

<div class="list_mini">
    <a href="{% url 'board:index' bo_nm %}" class="bo_title">공지사항</a>
    <ul>
        {% if bo_list %}
        {% for bo_li in bo_list %}
        <li>
            <a href="{% url 'board:show' bo_nm bo_li.id %}">
                <span>{{ bo_li.subject }}</span>
                <span>{{ bo_li.created_at | date_print }}</span>
            </a>
        </li>    
        {% endfor %}
        {% else %}
        <li><span>공지가 없습니다.</span></li>
        {% endif %}
    </ul>

    {% if user.is_staff %}
    <a href="{% url 'board:create' bo_nm %}" class="btn btn-outline-info btn-xm btn_write">글쓰기</a>
    {% endif %}
</div>

{% block style %}
<style lang="" scoped>
.list_mini { margin:auto; position:relative; }
.list_mini .bo_title { display:block; font-size:16px; text-align:center; font-weight:bold; padding:10px 0; line-height:1; }
.list_mini ul li {  }
.list_mini ul li:hover { box-shadow:1px 1px #444444, 2px 2px #444444, 3px 3px #444444; transform: translateX(-3px); border:1px solid #000; }
.list_mini ul li a { padding:4px 0; display:block; }
.list_mini ul li a span {  }
.list_mini ul li a span:last-child { float:right; }
.list_mini .btn_write { position:absolute; right:15px; top:10px; }
</style>
{% endblock %}