{% extends 'layout.html' %}
{% load bo_filter %}
{% load static %}

{% block content %}

<div class="container my-3">
    <!-- 질문 -->
     <!-- message 표시 -->
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
    {% for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul><li>{{ message.message }}</li></ul>
    {% endfor %}
    </div>
    {% endif %}
    <h2 class="border-bottom py-2">{{ bo.subject }}</h2>
    <div class="card my-3 bo_content_wrap">
        <div class="card-body">
            <div class="card-text bo_content" style="white-space: pre-line;">{{ bo.content|safe }}</div>
            <div class="d-flex justify-content-end">
                {% if bo.updated_at %}
                <div class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div>{{ bo.updated_at }}</div>
                </div>
                {% endif %}
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">{{ bo.writer }}</div>
                    <div>{{ bo.created_at }}</div>
                </div>
            </div>


            <div class="btn-group my-3">
                {% for f in bo_file %}
                <a href="{% url 'board:file_down' f.id %}"
                    class="btn btn-outline-secondary">{{ f.origin_name|basename }}</a>
                {% endfor %}
            </div>
            

            <div class="btn_box">
                {% if user.is_superuser or user == bo.author %}
                <a href="{% url 'board:edit' bo_nm bo.id %}" class="btn btn-sm btn-warning">수정</a>
                <a href="javascript:void(0)" class="delete btn btn-sm btn-danger" data-uri="{% url 'board:delete' bo_nm bo.id  %}">삭제</a>
                {% endif %}
                <a href="{% url 'board:index' bo_nm %}" class="btn btn-sm btn-outline-dark ms-auto">목록</a>
                <a href="{% url 'board:create' bo_nm bo.id %}" class="btn btn-sm btn-success">답글</a>
            </div>
        </div>
    </div>


    
    




    <!-- 답변 -->
    <h5 class="border-bottom my-3 py-2">{{comment.count}}개의 답변이 있습니다.</h5>

    {% for co in comment %}
    <div class="card comment_wrap"
        style="margin-left:calc( {{ co.bo_co_seq_cd|length|multiply:50 }}px - 50px )">
        <div class="card-body">
            <p class="comment_info">
                <b>{{ co.writer }}</b>
                <img src="{% static 'icons/clock.svg' %}" />
                <span>{{ co.created_at }}</span>
            </p>

            <div class="card-text" style="white-space: pre-line;">{{ co.content|safe }}</div>
            
            <div class="co_btn_box">
                <button onclick="co_action('comment', '{{co.id}}');" class="btn btn-xm btn-light">댓글</button>
                {% if request.user == co.author %}
                <button onclick="co_action('edit', '{{co.id}}');" class="btn btn-xm btn-warning">수정</button>
                <a href="javascript:void(0)" class="delete btn btn-xm btn-danger"
                    data-uri="{% url 'board:delete' bo_nm co.id  %}">삭제</a>
                {% endif %}
            </div>

            <div id="frm_case_{{ co.id }}" class="bo_comment_write"></div>
        </div>

    </div>
    {% endfor %}
    
    <form action="{% url 'board:create' bo_nm bo.id %}" method="post" id="comment_frm" class="my-3" onSubmit="return form_submit()" name="comment_frm">
        {% csrf_token %}
        <input type="hidden" name="wri_type" value="comment" />

        <!-- 오류표시 Start -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
            {% if field.errors %}
            <div>
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div class="mb-3">
            <label for="content" class="form-label">댓글</label>
            
            <textarea {% if not user.is_authenticated %}disabled{% endif %} name="content" id="content"
                class="form-control" rows="2"></textarea>
        </div>
        <div class="btn_box">
            <input type="submit" value="작성" class="btn btn-sm btn-secondary ms-auto" />
        </div>
    </form>
</div>
{% endblock %}

{% block style %}
<style type="text/css">
    .bo_content_wrap .bo_content img { max-width:100%; display:block; margin:auto;}
    .comment_wrap { border-left:0; border-right:0; }
    .comment_wrap:not(:last-of-type) { border-bottom:0; }
    .comment_wrap .comment_info span { COLOR:#777; }
    .comment_wrap .co_btn_box { text-align:right; }
  

</style>
{% endblock %}


{% block script %}
<script type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});

$( document ).ready(function() {   
    $("#comment_frm").find('.btn').click(function () {
        $("body").append("click!!!<br />");
    });
});
function form_submit () {
    const f = document.comment_frm;    
    if (isEmpty(f.content.value)) {
        alert("내용을 입력하세요");
        f.content.focus();
        return false;
    }
}

function co_action(type, id) {
    let frm = document.getElementById("comment_frm");
    el_id = 'frm_case_' + id;

    if (type == 'comment') {
        frm.action = `/board/{{bo_nm}}/create/${id}/`;
        frm.content.value = '';
    } else if (type == 'edit') {
        frm.action = `/board/{{bo_nm}}/edit/${id}/`;
        frm.content.value = document.getElementById(el_id).closest('.card-body').querySelector('.card-text').textContent;
    }
    
    document.getElementById(el_id).appendChild(frm);
    frm.content.focus();
}
</script>
{% endblock %}


